<h2>SIGNUP</h2>

<form action="/signup" method="POST">
  <input type="text" name="username" id="username" />
  <label for="username">Username</label>
  <input type="password" name="password" id="password" />
  <label for="password">Password</label>
  <input type="submit" name="submit" id="submit"/>
</form>